 .u-section-1 {
  min-height: 1504px;
}

.u-section-1 .u-group-1 {
  min-height: 222px;
  background-image: none;
  height: auto;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 60px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1280px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-group-2 {
  min-height: 866px;
  height: auto;
  width: 223px;
  margin: -3px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 5px;
  font-size: 1rem;
  margin: 135px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 5px;
  font-size: 1rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 5px;
  font-size: 1rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 5px;
  font-size: 1rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 210px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 16px;
  margin: 0 3px 0 -1px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 1070px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 554px;
  width: 686px;
  margin: 79px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  width: 120px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  width: 120px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  width: 120px;
}

.u-section-1 .u-label-4 {
  width: 120px;
}

.u-section-1 .u-label-5 {
  width: 120px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  width: 120px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  width: 120px;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  width: 120px;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  width: 120px;
}

.u-section-1 .u-label-10 {
  width: 120px;
}

.u-section-1 .u-label-11 {
  width: 120px;
}

.u-section-1 .u-btn-5 {
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1317px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 40px;
    height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1055px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 234px;
    margin-top: -2px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 156px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 888px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 41px;
    margin-left: 39px;
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1135px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 115px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 759px;
  }

  .u-section-1 .u-form-1 {
    width: 617px;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1012px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 610px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1063px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 657px;
  }

  .u-section-1 .u-form-1 {
    height: 600px;
    width: 417px;
  }
}